/* Form.css */

/* Style the form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 600px; /* Increase the container width as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form rows for horizontal arrangement */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style the form inputs */
.form-input {
  width: calc(33.33% - 10px); /* Adjust width for horizontal alignment with spacing */
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible;
}

.form-input label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input select{
  width: 105.1%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.form-input input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style the submit button */
.form-submit {
  margin-top: 10px;
  text-align: center;
}

.form-submit button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.form-submit button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Form.css */

/* Styles for the popup message container */
.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  z-index: 1000;
  border-radius: 4px;
}

/* Styles for the success and error icons */
.success-icon, .error-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.success-icon {
  color: #00cc00; /* Green color for success */
}

.error-icon {
  color: #ff3333; /* Red color for error */
}

/* Styles for the OK button */
button {
  background: #0077cc; /* Blue color for the button */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0055aa; /* Darker blue on hover */
}
