/* body {
  margin: 0;
  font-family: "Roboto", sans-serif;
} */

/* App.css */
.calendar-container {
  height: 500px;
  width: 800px;
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Adjust the height based on your design */
  padding: 200px;
  padding-top: 100px;
}
.FormContainer {
  background-color: white; /* Set the background color for the Form component */
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.CalendarContainer {
  background-color: white; /* Set the background color for the calendar container */
}

.MyCalendar {
  background-color: white; /* Set the background color for the MyCalendar component */
}